/* Footer */

footer {
  background-color: #1865a3;
  color: #e0e2e4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 309px;
  padding: 32px 64px 0;
  .container .row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    .mtna-footer-left {
      color: #e0e2e4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        margin-bottom: 10px;
      }

      .mtna-contact-info {
        line-height: 30px;

        i {
          margin-right: 15px;
        }

        * {
          vertical-align: middle;
          transition: all 300ms;
          font-weight: bold;
        }

        > *:hover,
        > *:hover * {
          color: #c2d500;
        }
      }
    }
  }

  a {
    color: #f4f5f6;
    transition: all 300ms;

    &:hover {
      color: #a1bf0d;
    }
  }
  .mtna-footer-logo {
    height: 60px;
  }
}

/* end footer */
