@use "sass:map";
@use "src/styles/colors";

@use "@material/theme" with (
  $primary: colors.$color-rds-blue,
  $on-primary: colors.$color-rds-white
);

@use 'src/styles/mixins';

@use "@material/typography/mdc-typography";
@use "@material/checkbox/mdc-checkbox";
@use "@material/form-field/mdc-form-field";
@use "@material/elevation/mdc-elevation";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/mdc-select";

.chart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 500px;
  padding: 0 32px;

  > div {
    margin: 8px;
  }

  .chart-div {
    flex: 1 1 auto;
    min-height: 600px;
  }

  .checkbox-section {
    flex: 1 1 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  .control-section {
    display: flex;
    flex: 1 1 30%;
    max-width: 30%;
    flex-direction: row;
    flex-wrap: wrap;
    .mdc-select {
      margin: 8px;
    }
  }

  p.mat-typography--body1 {
    flex: 1 1 100%;
  }
}

.section-divider {
  height: 64px;
  background: colors.$gradient-blue, colors.$color-rds-blue-2;
  border: none;
  margin: 0;
}
