@use "sass:map";
@use "src/styles/colors";

@use "@material/theme" with (
  $primary: colors.$color-rds-blue,
  $on-primary: colors.$color-rds-white
);

@use 'src/styles/mixins';

@use "@material/typography/mdc-typography";
@use "@material/checkbox/mdc-checkbox";
@use "@material/form-field/mdc-form-field";
@use "@material/elevation/mdc-elevation";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/mdc-select";

.data-analysis-section,
.info-container {
  margin-top: 32px;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
}

.info-container {
  background-image: url('~/assets/cta-background-opaque-0.1.png'), url('~/assets/cta-background-opaque-0.1.png'), colors.$gradient-blue;
  background-repeat: no-repeat;
  background-position: bottom -200px left -300px, top -200px right -300px, top left;
  color: #ffffff;
}

.chart-container {
  margin-top: 64px;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  min-height: 500px;
  position: relative;

  .data-link {
    position: absolute;
    right: 32px;
    top: -16px;
  }
  > div:not(.links) {
    margin: 8px;
  }

  .chart-div {
    flex: 1 1 auto;
    min-height: 600px;
  }

  .checkbox-section {
    flex: 1 1 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  .control-section {
    display: flex;
    flex: 1 1 30%;
    max-width: 30%;
    flex-direction: row;
    flex-wrap: wrap;
    .mdc-select {
      margin: 8px;
    }
  }

  p.mat-typography--body1 {
    flex: 1 1 100%;
  }
}

.section-divider {
  height: 64px;
  background: colors.$gradient-blue, colors.$color-rds-blue-2;
  border: none;
  margin: 0;
}

.text-center {
  text-align: center;
}

.mdc-typography--caption:not(.banner-footnote) {
  text-align: right;
  margin: 0;
  padding: 0 32px;
}

.banner-footnote {
  width: 100%;
}

.rds-hero {
  font-weight: 300;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container {
    justify-content: center;
    .header {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .google-logo {
        width: 100px;
      }
      .mdc-typography--headline1 {
        margin: 32px 0;
      }
      .app-logo {
        width: 100%;
        margin-top: 23px;
      }
      .brand-logo {
        width: 160px;
      }

      a {
        margin-top: 23px;
      }

      .mdc-typography--headline2 {
        margin-bottom: 64px;
      }
    }
  }
}

.display-none {
  display: none;
}
