$color-rds-white: #ffffff;
$color-rds-black: #101820;
$color-rds-red: #c75d4f;
$color-rds-header: white;
$color-rds-blue: #00558c;
$color-rds-blue-2: #1865a3;
$color-rds-blue-3: #9bcae4;
$color-rds-secondary: #80bd01;
$color-rds-secondary-hover: #96d219;
$color-rds-grey: #627184;
$color-rds-gray: #d0d3d4;
$color-rds-grey-1: #6d7279;
$color-rds-grey-2: #99a0a6;
// Urgh, two grey/grays
$color-rds-grey-3: #828282;
$color-rds-gray-3: #c9d1d4;
$color-rds-grey-4: #e4e9ee;
$color-rds-grey-5: #edf1f4;

$gradient-blue: linear-gradient(303.65deg, #378dc5 2.04%, #{$color-rds-blue-2} 94.79%);
