@use "sass:map";
@use "src/styles/mixins";
@use '@material/layout-grid/variables';
@use "@material/elevation/mixins" as mdc-elevation-mixins;
@use "src/styles/colors";

$border-styles: 2px solid colors.$color-rds-gray-3;

.outlined-container {
  position: relative;
  border: $border-styles;
  border-radius: 8px;
  padding: 24px;

  .outline-line {
    position: absolute;
    left: 50%;
    &.top {
      bottom: 100%;
    }
    &.bottom {
      top: 100%;
    }
  }
}

.mdc-card {
  /* Offset icon image */
  margin-top: 100px;
  .primary-content {
    padding: 1rem;
    /* Offset the image which is always before */
    margin-top: 80px;
    margin-bottom: 0;
  }
  .secondary-content {
    padding: 0 1rem 8px;
    margin-bottom: 0;
  }
  .icon-img {
    height: 160px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -100px;
  }
  .mdc-card__actions.centered {
    justify-content: center;
  }
  .mdc-card__actions.space-between {
    justify-content: space-between;
  }
  p {
    color: colors.$color-rds-grey-1;
    margin: 0;
  }
  .selected-icon {
    color: colors.$color-rds-blue-2;
    display: none;
    position: absolute;
    right: 8px;
    top: 8px;
  }
  &.selected {
    @include mdc-elevation-mixins.elevation(15);
    .selected-icon {
      display: block;
    }
  }
}

.show-rds {
  margin-top: 32px;
}
.path-empty-state {
  margin-top: 16px;
}

.next-steps,
.show-rds {
  display: none;
}

.path-container {
  margin-bottom: 32px;

  .path-instructions {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: $border-styles;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
    padding: 0rem 1rem;
    color: colors.$color-rds-grey-1;
  }
  .mdc-card {
    &:hover:not(.selected) {
      @include mdc-elevation-mixins.elevation(7);
    }
  }
  .or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .decorative-line {
      border: $border-styles;
      border-width: 1px;
      width: 12px;
    }
    p {
      padding: 4px 16px;
      color: colors.$color-rds-grey-1;
      font-size: 1rem;
    }
  }

  /* Hide bottom line on desktop */
  @include mixins.break(map.get(variables.$breakpoints, 'desktop')) {
    margin-bottom: 0px;
    .outline-line {
      display: none;
    }
  }
}

.transition {
  margin: 16px 0;
  .split-bracket-container {
    display: flex;
    width: 50%;
    margin: auto;
  }
  /* Ensure the vertical line overlaps the bracket */
  &.dynamic-transition {
    .line.single-vertical {
      position: relative;
      margin-top: -2px;
      z-index: 10;
    }
  }
}

.line {
  height: 16px;
  width: 50%;
  &.single-vertical {
    border-right: $border-styles;
    margin-left: -1px;
  }
  &.bracket {
    border: $border-styles;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: auto;
  }
  &.left-bracket {
    border: $border-styles;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 8px;
  }
  &.right-bracket {
    border: $border-styles;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 8px;
  }
  &.selected {
    border-color: colors.$color-rds-blue-2;
  }
}

@media only screen and (max-width : #{map.get(variables.$breakpoints, desktop)}) {
  .hide-less-than-desktop {
    display: none;
  }
  .or-container {
    margin: 24px;
  }
}
